.colum {
  display: inline-block;
  vertical-align: top;
  margin: 0px 50px;
  width: 30%;
}

.lineButton {
  margin-top: 40px;
  display: flex;
  width: 100%;
}

.lineButton button {
  margin: auto;
}
.notFoundClass {
  text-align: center;
  width: 80%;
  margin: auto;
  border-radius: 15px;
  padding: 5px;
  color: white;
  background-color: #ea2031;
}

.errorClass {
  text-align: center;
  width: 80%;
  margin: auto;
  border-radius: 15px;
  padding: 5px;
  color: white;
  background-color: #d9534f;
}